   <li><span><%= headline.content %></span>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="<%= headline.link %>">-<span class="company_name"><%= headline.company %></span></a>
   </li>
